body{
    background-color: lightgreen;
}
table{
    background-color: lightgreen;
    border: 2px solid blue;
    border-spacing: 1px;
}
thead{
    color: red;
    font-weight: bold;
}
tfoot{
    color: green;
}
caption{
    font-style: italic;
    padding: 10px;
    caption-side: top;
}
th{
    border: 1px solid green;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-spacing: 0px;
}