body{
    background-color: lightgreen;
    justify-content: center;
}
.all{
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    background-color: grey;
    box-shadow: 0.2em 0.2em solid rgb(221, 78, 102);
    flex: 1;
    padding: .5em .5em;
    margin: .5em;
    text-transform: uppercase;
}
#information{
    flex-direction: row;
    background-color: grey;
    box-shadow: 1em 1em solid rgb(221, 78, 102);
    flex: 1;
}
#bigButtons > *{
    box-shadow: 0.7em 0.7em maroon;
    flex: 1;
    background-color: gray;

}
.fa-chart-pie{
    color: yellow;
    rotate: 90;
}
.fa-window-maximize{
    color: blue;
}
.fa-phone{
    color: green;
    rotate: 180;
}