body{
    background-color: turquoise;

}
.all{
    display: flex;
    flex-direction: column;
}
#nav > *{
    text-transform: uppercase;
    box-shadow: 0.2em 0.2em solid rgb(216, 89, 110);
    text-align: center;
    display: flex;
    background-color: gray;
    width: 90vw;
    height: 3em;
    list-style-type: none;
}
#information{
    display: flex;
    flex-direction: row;
}
#bigButtons > div{
    box-shadow: 0.1em 0.1em maroon;
}
.fa-chart-pie{
    color: yellow;
    rotate: 90;
}
.fa-window-maximize{
    color: blue;
}
.fa-phone{
    color: green;
    rotate: 180;
}