body{
    background-color: lightgreen;
}
h1, h2, h4{
    font-weight: bold;
}
ol, ul{
    border: 2px solid blue;
    padding: 10px;
    width: 35vw;
}
dl{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding: 10px;
    padding-left: 30px;
    width: 30vw;
}
#roman{
    list-style: upper-roman;
}
#none{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
#sans{
    font-family: Arial, Helvetica, sans-serif;
}
#square{
    list-style-type: square;
}