@font-face {
    font-family: myRistretto;
    src: url(ristretto.woff);
}
@font-face {
    font-family: myMayestica;
    src: url(Mayestica.otf);
}
body{
    background-color: rgb(187, 248, 187);
    width: fit-content;
}
.ristretto{
    background-color: lightgreen;
    box-shadow: 5px 5px black;
    margin: 40px;
    padding: 20px;
}
.mayestica{
    background-color: lightgreen;
    box-shadow: 5px 5px black;
    margin: 40px;
    padding: 20px;
}
.ristreFont{
    font-family: 'myRistretto', sans-serif;
}
.mayeFont{
    font-family: 'myMayestica', cursive;
}