body{
    background-color: powderblue;
    margin: 40px;
    width: fit-content;
}
div{
    background-image: -moz-linear-gradient(powderblue, rgb(13, 204, 230));
    box-shadow: 10px 10px black;
    padding: 20px;
}
.small{
    font-size: 0.5em;
}
.normal{
    font-size: 1em;
}
.large{
    font-size: 1.5em;
}
.larger{
    font-size: 2em;
}