body{
    background-color: hsl(84, 100%, 81%);
    box-shadow: 10px 10px black;
    width: fit-content;
    margin: 40px;
}
.first{
    background-color: #ccff7f;
    font-family: Arial, Helvetica, sans-serif;
}
.second{
    background-color: #ccff7f;
    font-family: 'Courier New', Courier, monospace;
}
.third{
    background-color: #ccff7f;
    font-family: 'Times New Roman', Times, serif;
}