body{
    background-color: greenyellow;
}
a:hover{
    background-color: grey;

}
div{
    background-color: lightgrey;
    text-align: center;
    border: 2px solid lightslategrey;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
    width: 180px;
}
#red{
    border-left: 5px solid red;
    border-style: ridge;
}
#yellow{
    border-left: 5px solid yellow;
    border-style: ridge;
}
#blue{
    border-left: 5px solid blue;
    border-style: ridge;
}
#green{
    border-left: 5px solid green;
    border-style: ridge;
}