body{
    background-color: rgb(229, 201, 147);
    color: rgb(158, 133, 79);
    float: left;
}
div{
    float: left;
    margin: 30px;
    width: 200px;
    background-color: orange;
    align-items: center;
}
a{
    display: block;
    width: 160px;
    border: 3px solid rgb(158, 133, 79);
    border-radius: 15px;
    text-align: center;
}
a:hover{
    background-color: black;
    color: rgb(158, 133, 79);
}